# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Логи
*.log
app.log

# Файлы окружения
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Poetry
poetry.lock

# Базы данных
*.db
*.sqlite